@model Catch
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5"> New Catch</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Trip ID</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="TripID">
                    <span asp-validation-for="TripID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Boat ID</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FishType">
                    <span asp-validation-for="FishType" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Weight</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Weight">
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Catch" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>

            </div>

        </form>
    </div>
</div>
